DIC Lab3 Activity 2
-------

##### Read CSV

In [1]:
input_data=read.csv(file="german_credit_data1.csv", header=TRUE)

In [2]:
input_data

     X.  Age Sex    Job Housing Saving.accounts Checking.account Credit.amount
1     0  67  male   2   own     NA              little            1169
2     1  22  female 2   own     little          moderate          5951
3     2  49  male   1   own     little          NA                2096
4     3  45  male   2   free    little          little            7882
5     4  53  male   2   free    little          little            4870
6     5  35  male   1   free    NA              NA                9055
7     6  53  male   2   own     quite rich      NA                2835
8     7  35  male   3   rent    little          moderate          6948
9     8  61  male   1   own     rich            NA                3059
10    9  28  male   3   own     little          moderate          5234
11   10  25  female 2   rent    little          moderate          1295
12   11  24  female 2   rent    little          little            4308
13   12  22  female 2   own     little          moderate          1567
14   13  60  male   1   own     little          little            1199
15   14  28  female 2   rent    little          little            1403
16   15  32  female 1   own     moderate        little            1282
17   16  53  male   2   own     NA              NA                2424
18   17  25  male   2   own     NA              little            8072
19   18  44  female 3   free    little          moderate         12579
20   19  31  male   2   own     quite rich      NA                3430
21   20  48  male   2   own     little          NA                2134
22   21  44  male   2   rent    quite rich      little            2647
23   22  48  male   1   rent    little          little            2241
24   23  44  male   2   own     moderate        moderate          1804
25   24  26  male   2   own     NA              NA                2069
26   25  36  male   1   own     little          little            1374
27   26  39  male   1   own     little          NA                 426
28   27  42  female 2   rent    rich            rich               409
29   28  34  male   2   own     little          moderate          2415
30   29  63  male   2   own     little          little            6836
⋮    ⋮   ⋮   ⋮      ⋮   ⋮       ⋮               ⋮                ⋮
971  970 22  male   2   own     moderate        moderate         1514
972  971 43  male   1   own     little          NA               7393
973  972 29  female 0   rent    little          little           1193
974  973 36  male   2   rent    little          little           7297
975  974 33  female 2   own     little          NA               2831
976  975 57  female 1   own     quite rich      rich             1258
977  976 64  female 2   own     little          moderate          753
978  977 42  male   2   own     NA              moderate         2427
979  978 47  male   1   own     little          NA               2538
980  979 25  male   2   rent    moderate        moderate         1264
981  980 49  male   2   own     little          moderate         8386
982  981 33  male   3   rent    little          NA               4844
983  982 28  female 3   own     moderate        rich             2923
984  983 26  male   2   own     little          little           8229
985  984 30  male   1   own     little          NA               2028
986  985 25  female 2   rent    little          little           1433
987  986 33  male   2   own     little          rich             6289
988  987 64  female 2   own     moderate        NA               1409
989  988 29  male   3   free    little          little           6579
990  989 48  male   1   own     little          moderate         1743
991  990 37  male   1   own     NA              NA               3565
992  991 34  male   1   own     moderate        NA               1569
993  992 23  male   1   rent    NA              little           1936
994  993 30  male   3   own     little          little           3959
995  994 50  male   2   own     NA              NA               2390
996  995 31  female 1   own     little          NA               1736
997  996 40  male   3   own     little          little           3857
998  997 38  male   2   own     little          NA                804
999  998 23  male   2   free    little          little           1845
1000 999 27  male   2   own     moderate        moderate         4576
     Duration Purpose             Credit.Risks
1     6       radio/TV            1
2    48       radio/TV            2
3    12       education           1
4    42       furniture/equipment 1
5    24       car                 2
6    36       education           1
7    24       furniture/equipment 1
8    36       car                 1
9    12       radio/TV            1
10   30       car                 2
11   12       car                 2
12   48       business            2
13   12       radio/TV            1
14   24       car                 2
15   15       car                 1
16   24       radio/TV            2
17   24       radio/TV            1
18   30       business            1
19   24       car                 2
20   24       radio/TV            1
21    9       car                 1
22    6       radio/TV            1
23   10       car                 1
24   12       car                 1
25   10       furniture/equipment 1
26    6       furniture/equipment 1
27    6       radio/TV            1
28   12       radio/TV            1
29    7       radio/TV            1
30   60       business            2
⋮    ⋮        ⋮                   ⋮
971  15       repairs             1
972  24       car                 1
973  24       car                 2
974  60       business            2
975  30       radio/TV            1
976  24       radio/TV            1
977   6       radio/TV            1
978  18       business            1
979  24       car                 2
980  15       car                 2
981  30       furniture/equipment 2
982  48       business            2
983  21       car                 1
984  36       car                 2
985  24       furniture/equipment 1
986  15       furniture/equipment 1
987  42       business            1
988  13       radio/TV            1
989  24       car                 1
990  24       radio/TV            1
991  12       education           1
992  15       radio/TV            1
993  18       radio/TV            1
994  36       furniture/equipment 1
995  12       car                 1
996  12       furniture/equipment 1
997  30       car                 1
998  12       radio/TV            1
999  45       radio/TV            2
1000 45       car                 1

In [4]:
str(input_data) #Gives the structure of dataframe

'data.frame':	1000 obs. of  11 variables:
 $ X.              : int  0 1 2 3 4 5 6 7 8 9 ...
 $ Age             : int  67 22 49 45 53 35 53 35 61 28 ...
 $ Sex             : Factor w/ 2 levels "female","male": 2 1 2 2 2 2 2 2 2 2 ...
 $ Job             : int  2 2 1 2 2 1 2 3 1 3 ...
 $ Housing         : Factor w/ 3 levels "free","own","rent": 2 2 2 1 1 1 2 3 2 2 ...
 $ Saving.accounts : Factor w/ 4 levels "little","moderate",..: NA 1 1 1 1 NA 3 1 4 1 ...
 $ Checking.account: Factor w/ 3 levels "little","moderate",..: 1 2 NA 1 1 NA NA 2 NA 2 ...
 $ Credit.amount   : int  1169 5951 2096 7882 4870 9055 2835 6948 3059 5234 ...
 $ Duration        : int  6 48 12 42 24 36 24 36 12 30 ...
 $ Purpose         : Factor w/ 8 levels "business","car",..: 6 6 4 5 2 4 5 2 6 2 ...
 $ Credit.Risks    : int  1 2 1 1 2 1 1 1 1 2 ...

##### Convert Categorical data into numeric data for training and test data comparison

In [45]:
#Converting Categorical data to numeric data for classifying data. Why ? Because that's the requirement of Lab. We have to consider categorical fields too for classification.
input_data$Sex<-as.numeric(input_data$Sex)
input_data$Housing<-as.numeric(input_data$Housing)
input_data$Saving.accounts<-as.numeric(input_data$Saving.accounts)
input_data$Checking.account<-as.numeric(input_data$Checking.account)
input_data$Purpose<-as.numeric(input_data$Purpose)

str(input_data)

'data.frame':	1000 obs. of  11 variables:
 $ X.              : int  930 936 914 867 553 579 752 74 795 676 ...
 $ Age             : int  24 28 31 42 27 27 23 40 22 33 ...
 $ Sex             : num  2 1 2 2 2 2 1 2 1 2 ...
 $ Job             : int  1 1 2 2 2 1 1 3 2 2 ...
 $ Housing         : num  2 2 3 2 2 2 3 2 3 2 ...
 $ Saving.accounts : num  1 1 1 1 2 1 2 NA 2 1 ...
 $ Checking.account: num  1 3 1 NA 2 NA 2 1 NA NA ...
 $ Credit.amount   : int  1747 745 3161 3331 1995 937 841 1977 2301 5150 ...
 $ Duration        : int  24 9 24 12 12 24 12 36 9 24 ...
 $ Purpose         : num  5 6 1 5 2 4 1 4 5 5 ...
 $ Credit.Risks    : int  1 2 2 1 1 1 1 2 1 1 ...

In [46]:
table(input_data$Purpose)

  1   2   3   4   5   6   7   8
 97 337  12  59 181 280  22  12

##### Randomise the records so that records with different class labels come up

In [47]:
set.seed(9850)  # Set randomising factor

In [48]:
dp<-runif(nrow(input_data))

In [49]:
input_data=input_data[order(dp),]  # Order randomly

In [50]:
head(input_data)

input_data[is.na(input_data)] <- 0   #Setting null records as zero(0).

    X.  Age Sex Job Housing Saving.accounts Checking.account Credit.amount
426 425 21  2   2   3        1               2               2779
562 561 24  2   1   3        1               1               1546
671 670 27  2   1   2        2              NA               4139
716 715 63  2   2   2       NA              NA               7596
202 201 27  2   1   2        1               1               1168
854 853 32  2   1   1        1               1               1442
    Duration Purpose Credit.Risks
426 18       2       1
562 24       6       2
671 24       1       1
716 30       2       1
202 12       2       1
854 18       2       2

In [51]:
summary(input_data[],c(1,2,3,4,5,6,7,8,9,10))  #Check the data for min and max values. Greater difference between min and max values indicate presence of outliers.

       X.             Age             Sex            Job           Housing
 Min.   :  0.0   Min.   :19.00   Min.   :1.00   Min.   :0.000   Min.   :1.000
 1st Qu.:249.8   1st Qu.:27.00   1st Qu.:1.00   1st Qu.:2.000   1st Qu.:2.000
 Median :499.5   Median :33.00   Median :2.00   Median :2.000   Median :2.000
 Mean   :499.5   Mean   :35.55   Mean   :1.69   Mean   :1.904   Mean   :2.071
 3rd Qu.:749.2   3rd Qu.:42.00   3rd Qu.:2.00   3rd Qu.:2.000   3rd Qu.:2.000
 Max.   :999.0   Max.   :75.00   Max.   :2.00   Max.   :3.000   Max.   :3.000
 Saving.accounts Checking.account Credit.amount      Duration
 Min.   :0.00    Min.   :0.000    Min.   :  250   Min.   : 4.0
 1st Qu.:1.00    1st Qu.:0.000    1st Qu.: 1366   1st Qu.:12.0
 Median :1.00    Median :1.000    Median : 2320   Median :18.0
 Mean   :1.19    Mean   :1.001    Mean   : 3271   Mean   :20.9
 3rd Qu.:1.00    3rd Qu.:2.000    3rd Qu.: 3972   3rd Qu.:24.0
 Max.   :4.00    Max.   :3.000    Max.   :18424   Max.   :72.0
    Purpose       Credit.Risks
 Min.   :1.000   Min.   :1.0
 1st Qu.:2.000   1st Qu.:1.0
 Median :4.000   Median :1.0
 Mean   :3.878   Mean   :1.3
 3rd Qu.:6.000   3rd Qu.:2.0
 Max.   :8.000   Max.   :2.0

##### Features with larger max values influence the prediction of target class, hence to avoid that, we normalize the values.

In [52]:
#Normalization function

normalize<-function(x){
    + return((x-min(x))/(max(x)-min(x)))
}

In [63]:
# We apply normalization to all the rows for columns 1 to 10. We don't do it on 11th since 11th is our target class to be predicted. Hence we won't include it.

new_data<-as.data.frame(lapply(input_data[,c(1,2,3,4,5,6,7,8,9,10)],normalize))
str(new_data)

'data.frame':	1000 obs. of  10 variables:
 $ X.              : num  0.425 0.562 0.671 0.716 0.201 ...
 $ Age             : num  0.0357 0.0893 0.1429 0.7857 0.1429 ...
 $ Sex             : num  1 1 1 1 1 1 0 1 0 1 ...
 $ Job             : num  0.667 0.333 0.333 0.667 0.333 ...
 $ Housing         : num  1 1 0.5 0.5 0.5 0 0.5 1 1 0.5 ...
 $ Saving.accounts : num  0.25 0.25 0.5 0 0.25 0.25 0.25 0.25 0.5 0.25 ...
 $ Checking.account: num  0.667 0.333 0 0 0.333 ...
 $ Credit.amount   : num  0.1392 0.0713 0.214 0.4042 0.0505 ...
 $ Duration        : num  0.206 0.294 0.294 0.382 0.118 ...
 $ Purpose         : num  0.143 0.714 0 0.143 0.143 ...

In [69]:
summary(new_data)

       X.            Age              Sex            Job
 Min.   :0.00   Min.   :0.0000   Min.   :0.00   Min.   :0.0000
 1st Qu.:0.25   1st Qu.:0.1429   1st Qu.:0.00   1st Qu.:0.6667
 Median :0.50   Median :0.2500   Median :1.00   Median :0.6667
 Mean   :0.50   Mean   :0.2955   Mean   :0.69   Mean   :0.6347
 3rd Qu.:0.75   3rd Qu.:0.4107   3rd Qu.:1.00   3rd Qu.:0.6667
 Max.   :1.00   Max.   :1.0000   Max.   :1.00   Max.   :1.0000
    Housing       Saving.accounts  Checking.account Credit.amount
 Min.   :0.0000   Min.   :0.0000   Min.   :0.0000   Min.   :0.00000
 1st Qu.:0.5000   1st Qu.:0.2500   1st Qu.:0.0000   1st Qu.:0.06138
 Median :0.5000   Median :0.2500   Median :0.3333   Median :0.11387
 Mean   :0.5355   Mean   :0.2975   Mean   :0.3337   Mean   :0.16624
 3rd Qu.:0.5000   3rd Qu.:0.2500   3rd Qu.:0.6667   3rd Qu.:0.20481
 Max.   :1.0000   Max.   :1.0000   Max.   :1.0000   Max.   :1.00000
    Duration         Purpose
 Min.   :0.0000   Min.   :0.0000
 1st Qu.:0.1176   1st Qu.:0.1429
 Median :0.2059   Median :0.4286
 Mean   :0.2486   Mean   :0.4111
 3rd Qu.:0.2941   3rd Qu.:0.7143
 Max.   :1.0000   Max.   :1.0000

##### Create training data set, test data set and set training and test target class. Then perform 'knn'

In [180]:
new_data_train<-new_data[1:900,]    # Training data
new_data_test<-new_data[901:1000,]  # Test data
new_data_train_target_class<-input_data[1:900,11]  # Training target class ----Credit risks is our target class
new_data_test_target_class<-input_data[901:1000,11] # Test target class

In [189]:
library(class)  # Required to perform 'knn'

output<-knn(train=new_data_train,test=new_data_test,cl=new_data_train_target_class,k=1)
output

  [1] 2 1 2 2 1 2 1 1 1 2 2 1 1 2 1 1 1 2 1 1 2 1 2 1 2 1 1 1 2 2 1 1 1 1 1 1 2
 [38] 1 1 1 2 2 2 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 2 1 2 1 2 1 1 1
 [75] 1 2 2 2 1 1 1 1 1 1 2 1 1 1 2 1 1 1 1 1 1 1 2 2 1 1
Levels: 1 2

In [190]:
# We create a new table where we compare the actual target class with the class generated by our output 
# to see whether the classification (labeling) done by our knn algorithm is correct

table(new_data_test_target_class,output)

# Target class is given by rows, and Predicted class is given by columns
# Diagonal classification (upper left to lower right) is the correct classification.

                          output
new_data_test_target_class  1  2
                         1 57 15
                         2 15 13

##### All the computed results are as below

In [192]:
r1<-data.frame(1,67,67.66,67.5,70)
colnames(r1)<-c("K_Value","Accuracy_When_Train_data:60%","Accuracy_When_Train_data:70%","Accuracy_When_Train_data:80%","Accuracy_When_Train_data:90%")
r1

  K_Value Accuracy_When_Train_data:60% Accuracy_When_Train_data:70%
1 1       67                           67.66
  Accuracy_When_Train_data:80% Accuracy_When_Train_data:90%
1 67.5                         70

In [197]:
r2<-data.frame(2,66.25,68.66,65,67)
colnames(r2)<-c("K_Value","Accuracy_When_Train_data:60%","Accuracy_When_Train_data:70%","Accuracy_When_Train_data:80%","Accuracy_When_Train_data:90%")
r3<-data.frame(3,69.5,68,70,71)
colnames(r3)<-c("K_Value","Accuracy_When_Train_data:60%","Accuracy_When_Train_data:70%","Accuracy_When_Train_data:80%","Accuracy_When_Train_data:90%")
r4<-data.frame(4,67.75,68,67.5,62)
colnames(r4)<-c("K_Value","Accuracy_When_Train_data:60%","Accuracy_When_Train_data:70%","Accuracy_When_Train_data:80%","Accuracy_When_Train_data:90%")
r5<-data.frame(5,69,69,70,70)
colnames(r5)<-c("K_Value","Accuracy_When_Train_data:60%","Accuracy_When_Train_data:70%","Accuracy_When_Train_data:80%","Accuracy_When_Train_data:90%")

##### Final Readings

In [198]:
final_reading<-rbind(r1,r2,r3,r4,r5)
final_reading

  K_Value Accuracy_When_Train_data:60% Accuracy_When_Train_data:70%
1 1       67.00                        67.66
2 2       66.25                        68.66
3 3       69.50                        68.00
4 4       67.75                        68.00
5 5       69.00                        69.00
  Accuracy_When_Train_data:80% Accuracy_When_Train_data:90%
1 67.5                         70
2 65.0                         67
3 70.0                         71
4 67.5                         62
5 70.0                         70

##### Storing the final readings in 'DIC_Lab3_Activity2.csv'

In [201]:
write.csv(file="DIC_Lab3_Activity2.csv",final_reading)